<close-modal></close-modal>
<h2 mat-dialog-title>Perfil</h2>

<mat-dialog-content style="max-height: 100rem; padding-bottom: 0.1rem;">
  <!--   <mat-form-field appearance="outline">
    <mat-label>ID</mat-label>
    <input matInput disabled value="" type="text">
  </mat-form-field> -->
  <mat-form-field appearance="outline" class="inp">
    <mat-label>Usuário</mat-label>
    <input matInput disabled value="{{nomeUsuario}}" autocomplete="off">
  </mat-form-field>
  <mat-form-field appearance="outline" class="inp">
    <mat-label>Email</mat-label>
    <input matInput disabled value="{{emailUsuario}}" autocomplete="off">
  </mat-form-field>
  <!--   <mat-divider></mat-divider>
  <br>
  <h3>Redefinição de senha</h3>
  <form [formGroup]="formRedefinicao" class="container" (ngSubmit)="redefinirSenha()">
    <mat-form-field class="inp2">
      <mat-label>Digite a senha atual</mat-label>
      <input matInput formControlName="senhaAtual" type="password" autocomplete="off">
    </mat-form-field>
    <mat-form-field class="inp2">
      <mat-label>Digite a nova senha</mat-label>
      <input matInput formControlName="novaSenha" type="password" autocomplete="off">
    </mat-form-field>
    <mat-error class="redefinida" *ngIf="feedback.length > 0 && feedback == validacoes.senhaRedefinida">{{feedback}}</mat-error>
    <mat-error *ngIf="feedback.length > 0 && feedback != validacoes.senhaRedefinida">{{feedback}}</mat-error>
    <br>
    <button type="submit" class="btn btn-success-outline redefinir">Redefinir senha</button>
  </form> -->
</mat-dialog-content>
