<header>
  <!-- <img src="images/logo_branca.png/"  class="logo"> -->
  <nav>

    <div class="mobile-menu" (click)="toggleSidebar()">
      <div class="line1"></div>
      <div class="line1"></div>
      <div class="line1"></div>
    </div>

    <a class="logo">MUV!</a>

    <ul class="nav-list">
      <li><a routerLink="/meus-treinos" routerLinkActive="active">Meus treinos</a></li>
      <li><a routerLink="/workspace" routerLinkActive="active">Workspace</a></li>
      <li><a routerLink="/calculadora" routerLinkActive="active">Calculadora de Saúde</a></li>
      <li class="perlog"><a>Perfil</a><a > | Logoff</a></li>
      <!-- <li class="contato"><a routerLink="/contato" routerLinkActive="active">Contato MUV!</a></li> -->
      <li class="contato"><a>Contato <span class="muv-italic">MUV!</span> </a></li>
    </ul>

  </nav>
</header>

<ng-sidebar-container>

  <ng-sidebar [(opened)]="opened" [closeOnClickOutside]=true >
  <!-- <ng-sidebar [opened]=true [closeOnClickOutside]=true > -->
    <ul class="sidebar">
      <li><a routerLink="/meus-treinos" routerLinkActive="active">Meus treinos</a></li>
      <li><a routerLink="/workspace" routerLinkActive="active">Workspace</a></li>
      <li class="calc"><a routerLink="/calculadora" routerLinkActive="active">Calculadora de Saúde</a></li>
      <li class="perlog"><a>Perfil</a><a> | Logoff</a></li>
      <!-- <li class="contato"><a routerLink="/contato" routerLinkActive="active">Contato MUV!</a></li> -->
      <li class="contato"><a>Contato <span class="muv-italic">MUV!</span></a></li>
    </ul>
  </ng-sidebar>

  <div ng-sidebar-content>
    <router-outlet></router-outlet>
  </div>

</ng-sidebar-container>
