@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

a,
li > a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.logo {
  color: #ccff00;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-style: italic;
  padding-left: 2vw;
}

.logo:hover {
  color: #ccff00;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Quicksand;
  background: black;
  height: 10.1vh;
}

.nav-list {
  list-style: none;
  display: flex;
  margin-bottom: 0;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
  line-height: 10.1vh;
  padding-left: 1vw;
  padding-right: 1vw;
}

.nav-list li:hover:not(.contato, .perlog) {
  background-color: #fff;
  a {
    color: black;
  }
}

.perlog {
  background-color: #5e5eff;
  a {
    color: black;
  }
}

.contato {
  background-color: #ccff00;
  a {
    color: black;
  }
}

.mobile-menu {
  display: none; //Para esconder em dispositivos maiores (se quiser)
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 7px;
}

.line1 {
  transition: 0.3s;
}

.sidebar {
  display: none;
}

.sidebar li {
  align-items: center;
  display: flex;
  list-style: none;
  letter-spacing: 1.5px;
  line-height: 10.1vh;
  padding: 1vh;
  font-size: 12px;
}

@media (max-width: 1080px) {
  nav{
    justify-content: space-around;
  }
  .nav-list {
    display: flex;
    flex-direction: column;
  }
  .sidebar {
    font-family: Quicksand;
    display: flex;
    flex-direction: column;
    top: 8vh;
    left: 0;
    width: 40vw;
    height: 89.9vh;
    background: black;
    padding-left: 0;
    align-items: left;
    margin-bottom: 0;
  }

  .sidebar li {
    font-size: 1.85vw;
    transition: 0s 0.1s;
  }

  ul > .calc {
    letter-spacing: -0.6px;
  }
  .sidebar li:hover:not(.contato, .perlog) {
    background-color: #fff;
    a {
      color: black;
    }
  }
  li:focus:not(.contato, .perlog) {
    background-color: #fff;
    transition: 0s;
    a {
      transition: 0s;
      color: black;
    }
  }

  li:active:not(.contato, .perlog) {
    background-color: #fff;
    transition: 0s;
    a {
      transition: 0s;
      color: black;
    }
  }

  .nav-list li {
    display: none;
  }
  .mobile-menu {
    display: block;
  }
}

@media (max-width: 650px) {
  .sidebar li {
    font-size: 12px;
  }
}
