@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap");
@import url("https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");

a,
li > a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.logo {
  color: #ccff00;
  font-size: 34px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-style: italic;
  padding-left: 2vw;
  //font-family: Finger Paint;
  //font-family: La Belle Aurore;
  font-family: Permanent Marker;
  //font-family: Rock Salt;
}

.logo:hover {
  color: #ccff00;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Quicksand;
  background: black;
  height: 10.1vh;
}

.nav-list {
  list-style: none;
  display: flex;
  margin-bottom: 0;
}

.nav-list li {
  letter-spacing: 3px;
  line-height: 10.1vh;

}

.navanchor{
  display: block;
  padding-right: 1vw;
  padding-left: 1vw;
}

.nav-list li:not(.contato) {
  margin-left: 32px;
}

.nav-list li:hover:not(.contato, .perlog) {
  background-color: #fff;
  a {
    color: black;
  }
}

.perlog {
  background-color: #5e5eff;
  a {
    //color: black;
    color:  white;
  }
  padding-right: 1vw;
  padding-left: 1vw;
}

.contato {
  background-color: #ccff00;
  margin-left: 0px;
  a {
    color: black;
    font-weight: 950;
  }
  padding-right: 1vw;
  padding-left: 1vw;
}

.muv-italic{
  font-style: italic;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 7px;
}

.line1 {
  transition: 0.3s;
}

.sidebar {
  display: none;
}

.sidebar li {
  line-height: 10.1vh;
  padding: 1vh;
  font-size: 12px;
}

@media (max-width: 1076px) {
  nav {
    justify-content: space-around;
  }

  .sidebar {
    font-family: Quicksand;
    display: flex;
    flex-direction: column;
    width: 40vw;
    justify-content: flex-start;
    height: 89.9vh;
    background: black;
    padding-left: 0;
  }

  .perlog {
    margin-top: auto;
  }
  .sidebar li {
    font-size: 1.85vw;
    transition: 0s 0.1s;
    letter-spacing: 1.5px;
  }

  ul > .calc {
    letter-spacing: -0.6px;
  }

  .sidebar li:hover:not(.contato, .perlog) {
    background-color: #fff;
    a {
      color: black;
    }
  }

  li:focus:not(.contato, .perlog) {
    background-color: #fff;
    transition: 0s;
    a {
      transition: 0s;
      color: black;
    }
  }

  li:active:not(.contato, .perlog) {
    background-color: #fff;
    transition: 0s;
    a {
      transition: 0s;
      color: black;
    }
  }

  .nav-list li {
    display: none;
  }

  .mobile-menu {
    display: block;
  }
}

@media (max-width: 800px) {
  .sidebar li {
    font-size: 13.9px;
  }
}
