  <div class="up">
    <div class="card-group">
      <div class="col-md-8">
        <mat-card>
          <br>
          <mat-card-title class="text-center">Índice de Massa Corporal (IMC)</mat-card-title>
          <br>
          <br>
          <mat-card-content class="text-justify">
            O Índice de Massa Corporal, também conhecido como IMC, é um parâmetro criado pela
            Organização Mundial de Saúde, e ajuda a determinar se a pessoa está com o peso ideal,
            baseada na altura que possui.
          </mat-card-content>
          <mat-card-content class="text-justify">
            O cálculo é realizado da seguinte maneira: Divide-se a massa da pessoa (em quilogramas),
            pela sua altura (em metros) elevado ao quadrado.
          </mat-card-content>
          <mat-card-content class="text-center">
            <strong>Tabela de Referência</strong>
          </mat-card-content>
          <mat-card-content class="text-center">
            Menor que 18,5: Magreza | Entre 18,5 e 24,9: Peso Ideal
            | Entre 25 e 29,9: Sobrepeso | Maior que 30: Obesidade
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-md-4 calcmobile">
        <form class="container" id="calculadoraIMC">
          <mat-card class="text-center">
            <br>
            <mat-card-title>Calculadora IMC</mat-card-title>
            <br>
            <br>
            <div class="calculadoraIMC">
              <span>Altura (em m): </span>
              <input type="text" placeholder="(ex: 1.65)" id="altura_input" maxlength="6">
            </div>
            <br>
            <div class="calculadoraIMC">
              <span>Massa (em Kg): </span>
              <input type="text" placeholder="(ex: 55.5)" name="peso_input" maxlength="6">
            </div>
            <br>
            <br>
            <br>
            <button type="button" class="btn btn-primary" onclick="calcularIMC();">Calcular IMC</button>
          </mat-card>
        </form>
      </div>
    </div>
    <br>

    <br>
    <div class="card-group">
      <div class="col-md-8 ">
        <mat-card>
          <br>
          <mat-card-title class="text-center">Índice de Adiposidade Corporal (IAC)</mat-card-title>
          <br>
          <br>
          <mat-card-content class="text-justify">
            O Índice de Adiposidade Corporal, também conhecido como IAC, é um parâmetro criado para
            determinar a porcentagem de gordura corporal. É um índice mais recente do que o IMC, e portanto,
            mais preciso.
          </mat-card-content>
          <mat-card-content class="text-justify">
            O cálculo é realizado da seguinte maneira: Divide-se a medida da circunferência do quadril
            (em centimetros), pela altura (em metros) multiplicada pela raiz quadrada da altura, subtraindo
            18 ao final.
          </mat-card-content>
          <mat-card-content class="text-center">
            <strong>Tabela de Referência</strong>
            <br>
            <strong>Homens:</strong> Entre 8 e 20: Normal | Entre 21 e 25: Sobrepeso | Acima de 25: Obesidade
            <br>
            <strong>Mulheres:</strong> Entre 21 e 32: Normal | Entre 33 e 38: Sobrepeso | Acima de 38: Obesidade
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-md-4 calcmobile">
        <form class="container" id="calculadoraIAC">
          <mat-card class="text-center">
            <br>
            <mat-card-title>Calculadora IAC</mat-card-title>
            <br>
            <br>
            <div class="calculadoraIAC">
              <span>Circunferência do Quadril (em cm): </span>
              <input type="text" placeholder="(ex: 92)" id="quadril_input" maxlength="3">
            </div>
            <br>
            <div class="calculadoraIAC">
              <span>Altura (em m): </span>
              <input type="text" placeholder="(ex: 1.70)" name="altura_input" maxlength="6">
            </div>
            <br>
            <br>
            <br>
            <button type="button" class="btn btn-primary" onclick="calcularIAC();">Calcular IAC</button>
          </mat-card>
        </form>
      </div>
    </div>
  </div>
