/*Retirando setas de input number no Chrome, Safari, Edge, Opera */
/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */

/*Retirando setas de input number no Firefox */
/* input[type=number] {
  -moz-appearance: textfield;
} */

$magreza: #0099ff;
$normal: #00b300;
$sobrepeso: #ceaf00;
$grau1: #e48900;
$grau2: #c65000;
$grau3: #9f0700;

.magreza{
  color: $magreza;
}

.ideal, .normal{
  color: $normal;
}

.sobrepeso{
  color: $sobrepeso;
}

.grau1{
  color: $grau1;
}

.grau2{
  color: $grau2;
}

.grau3, .obesidade{
  color: $grau3;
}

.res-calculo{
  font-size: 33px;
}

.res-calculo-iac{
  font-size: 27px;
}

.res-tabela{
  font-size: 25px;
}

.up {
  margin-top: 2vh;
  margin-bottom: 11vh;
}

.col-md-8 {
  display: flex;
}

.pad {
  padding-left: 15px;
  padding-right: 15px;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 22px;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  background-color: #5252e4 !important;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: #5252e4!important;   /*inner circle color change*/
}

::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
 border-color:#5252e4!important; /*outer ring color change*/
}

.btnCalcular{
  background-color: #ccff00;
  color: black;
  border-color: #b0d800;
}

.btnResetar{
  background-color: #5252e4;
  color: white;
  border-color: #4949c9;
}

@media (max-width: 894px) {
  .up {
    margin-bottom: 6rem;
  }
  .calcmobile {
    margin-top: 0.5rem;
    padding-left: 0;
    padding-right: 0;
  }
}
