/*Retirando setas de input number no Chrome, Safari, Edge, Opera */
/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */

/*Retirando setas de input number no Firefox */
/* input[type=number] {
  -moz-appearance: textfield;
} */

.up {
  margin-top: 2vh;
  margin-bottom: 11vh;
}

.col-md-8 {
  display: flex;
}

.pad {
  padding-left: 15px;
  padding-right: 15px;
}

.btnCalcular{
  background-color: #ccff00;
  color: black;
  border-color: #b0d800;
}

.btnResetar{
  background-color: #5252e4;
  color: white;
  border-color: #4949c9;
}

@media (max-width: 894px) {
  .up {
    margin-bottom: 6rem;
  }
  .calcmobile {
    margin-top: 0.5rem;
    padding-left: 0;
    padding-right: 0;
  }
}
