<header>
  <nav>

    <div class="mobile-menu" (click)="toggleSidebar()">
      <div class="line1"></div>
      <div class="line1"></div>
      <div class="line1"></div>
    </div>

    <a class="logo">MUV!</a>

    <ul class="nav-list">
      <li><a routerLink="meus-treinos" routerLinkActive="active" class="navanchor">Meus treinos</a></li>
      <li><a routerLink="workspace" routerLinkActive="active" class="navanchor">Workspace</a></li>
      <li><a routerLink="calculadora" routerLinkActive="active" class="navanchor">Calculadoras de Saúde</a></li>
      <li class="perlog">
        <button class="btn-perfil" (click)="abrirPerfil()">
          Perfil
        </button>
        <span style="margin-right: -2.75px">|</span>
        <button class="btn-logoff" (click)="abrirLogoff()">
          Sair
        </button>
      </li>
      <li class="contato">
        <button class="btn-contato"(click)="abrirContato()">
          Contato <span class="muv-italic">MUV!</span>
        </button>
      </li>
    </ul>

  </nav>
</header>

<ng-sidebar-container style="height: 89.9vh">

  <ng-sidebar [(opened)]="opened" [closeOnClickOutside]=true showBackdrop=true>
    <!-- <ng-sidebar [opened]=true showBackdrop=true> -->
    <ul class="sidebar">
      <li><a routerLink="meus-treinos" routerLinkActive="active" closeSidebar>Meus treinos</a></li>
      <li><a routerLink="workspace" routerLinkActive="active" closeSidebar>Workspace</a></li>
      <li class="calc"><a routerLink="calculadora" routerLinkActive="active" closeSidebar>Calculadoras de Saúde</a></li>
      <li class="perlog"><button (click)="abrirPerfil()" closeSidebar class="per">Perfil</button>
        <span style="margin-left: -0.5px; margin-right: -2px">|</span>
        <button (click)="abrirLogoff()"
          closeSidebar class="log">Sair</button></li>
      <li class="contato"><a (click)="abrirContato()" closeSidebar>Contato <span class="muv-italic">MUV!</span></a>
      </li>
    </ul>
  </ng-sidebar>

  <div ng-sidebar-content>
    <router-outlet></router-outlet>
  </div>

</ng-sidebar-container>
