    <close-modal></close-modal>
    <form [formGroup]="form" (submit)="onCriar(criarForm)" #criarForm="ngForm">
      <mat-form-field appearance="outline">
        <mat-label>Nome do exercicio</mat-label>
        <input type="text" matInput placeholder="Digite o nome do exercicio" formControlName="nomeExercicio"
          name="nomeExercicio" autocomplete="off" />

      </mat-form-field>
      <mat-form-field>
        <mat-label>Intensidade</mat-label>
        <input type="text" matInput placeholder="Digite a intensidade do exercicio (Entre 1 e 5)"
          formControlName="intensidade" name="intensidade" mask="0" autocomplete="off" />

      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Descrição</mat-label>
        <!--         <input type="text" matInput placeholder="Descrição do exercicio" formControlName="descricao" name="descricao" /> -->

        <textarea matInput cdkTextareaAutosize name="descricao" #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="4"
          placeholder="Digite uma descrição para o exercício" cdkAutosizeMaxRows="6" autocomplete="off"
          formControlName="descricao"></textarea>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Series</mat-label>
        <input type="text" matInput placeholder="Digite o número de séries" formControlName="series" name="series"
          mask="0||00||000" autocomplete="off" />

      </mat-form-field>
      <mat-form-field>
        <mat-label>Repetições</mat-label>
        <input type="text" matInput placeholder="Digite o número de repetições" formControlName="repeticao"
          name="repeticao" mask="0||00||000||0000||00000" autocomplete="off" />

      </mat-form-field>
      <div class="modal-footer">
        <button type="submit" class="btn btn-lg btn-success botaoCadastroModal">Cadastrar</button>
      </div>
    </form>
    