toast-top-center {
  top: 5%;
  margin: auto;
}

h3 {
  margin: 10px 0px 0px 0px;
}

.btn-treino {
  display: flex;
  justify-content: center;
  border-top: none
}

#exercicios-treino {
  color: rgba(94, 94, 94, 0.644);
  font-size: 16px;
  margin-top: 0px;
  border: 0px;
  cursor: default;
}

mat-card {
  margin-top: 15px;
  display: inline-block;
  margin: 5px;
}

.lista {
  height: 69%;
  display: block;
  padding-bottom: 40px;
}

.workspace-box {
  height: 89.9vh;
  display: flex;
  align-items: flex-start;
  background: #DBDBDB;
  @media (max-width: 420px){
    display: block;
  }
}

.exercicios-box {
  width: 75%;
  display: block;
  height: 100%;
  overflow: auto;
  @media (max-width: 420px){
    height: 50%;
  }
}

.treino-box {
  display: block;
  align-items: center;
  height: 100%;
  width: 25%;
  min-width: 250px;
  overflow: auto;
  padding: 0px 15px 0px 15px;
  /* background-color: rgba(128, 128, 128, 0.466); */
  background-color: rgba(128, 128, 128, 0.329);
  @media (max-width: 420px){
    display: inline-block;
    width: 100%;
    height: 50%;
    .lista{
      height: 60%;

    }
    form{
      display: inline-flex;
      width: 100%;
      height: 30%;

      .btn-treino{
        padding: 0;
        padding-left: 10px;
      }
    }
  }
}

#mat-form-nome{
  background: rgb(233, 233, 233);
}

.lista-exercicios {
  min-height: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid rgba(90, 90, 90, 0.61);
  background: rgb(233, 233, 233);
  overflow: auto;
}

.ex-lista {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin-bottom: 5px;
  border-radius: 6px;
  text-align: center;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  /* background-color: rgba(255, 16, 16, 0.836); */
  background-color: #5e5eff56;
}

.form-control {
  width: 96%;
  padding-left: 10px;
}

mat-form-field {
  width: 100%;
  padding: 5px 10px 10px 10px;
  border: 1px solid rgba(90, 90, 90, 0.61);
  border-radius: 6px;
}

.btn-exercicios {
  display: flex;
  justify-content: flex-end;
  padding: 15px 30px 15px 0px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
