.cancelar {
  background-color: #5252e4;
  color: white;
  border-color: #4949c9;
}

.align-btn {
  justify-content: center;
  padding-bottom: 1.2rem;
}

.sair {
  width: 75%;
  background-color: #a70000;
  color: white;
  border-color: #830000;
}

