flip-card-front div {
  height: 400px;
  margin-top: 10px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

app-exercicios:hover {
  text-decoration: underline;
}

app-exercicios {
  font-size: 17px;
}
