<div class="col-md-6 col-xl-3" *ngFor="let i of nums" style="display: inline-block; margin-top: 10px;">
  <flip-card [isExercicio]="isExercicio">
    <flip-card-front>
      <div class="center">
        <h1 style="font-size: 30px;">Treino {{i}}</h1>
      </div>
    </flip-card-front>
    <flip-card-back>
      <div>
        <div *ngFor="let i of nums" style="margin-top: 7px;">
          <app-exercicios [exercicio]="exercicio"></app-exercicios>
        </div>
      </div>
    </flip-card-back>
  </flip-card>
</div>
