<div class="mg">
  <div style="display: flex; width: 100%; justify-content: center; padding-top: 10px;">
    <div class="btn-group" role="group" aria-label="Basic example" style="width: 80%">
      <button type="button" class="btn btn-dark" (click)="mostrarPersonalizados()">Personalizado</button>
      <button type="button" class="btn btn-dark" (click)="mostrarPredefinidos()">Predefinido</button>
    </div>
  </div>
  <div
    class="col-md-4 col-xl-3 box"
    *ngFor="let treino of treinos"
    style="display: inline-block; padding: 10px 0px 0px 0px"
    ngSortgridItem
    [ngSortGridItems]="treinos"
    [autoScroll]="true"
    [scrollPointBottom]="100"
    (sorted)="storeNewOrder($event)"
  >
    <flip-card [treino]="treino"></flip-card>
  </div>
</div>
