.inp{
  width: 100%;
  margin: auto;
  display: block;
}

.enviar{
  background-color: #bceb00;
  color: black;
  border-color: #a1c500;
  width: 75%;
  margin: auto;
  display: block;
}

.introducao-contato{
  text-align: justify;
  width: 95%;
  margin: auto;
  display: block;
  margin-bottom: 5px;
}
