<div class="container">
  <div [ngClass]="toggleProperty ? 'flipped' : ''" class="card">
    <div class="front" (click)="toggle()">
      <div class="area-front">
        <ng-content select="flip-card-front"></ng-content>
      </div>
      <div class="front-button">
        <a>Próximo ►</a>
      </div>
    </div>
    <div class="back">
      <div class="area-back">
        <ng-content class="card-back-component" select="flip-card-back"></ng-content>
      </div>
      <div class="back-button">
        <a (click)="toggle()"> ◄ Voltar</a>
      </div>
    </div>
  </div>
</div>
