<div class="container">
  <div [ngClass]="toggleProperty ? 'flipped' : ''" class="card">
    <div class="front" (click)="toggle()">
      <div class="area-front">
        <flip-card-front select="flip-card-front" [nome]='treino.nome'></flip-card-front>
      </div>
      <div class="front-button">
        <a>Próximo ►</a>
      </div>
    </div>
    <div class="back">
      <flip-card-back select="flip-card-back" [exercicios]='treino.exercicios'></flip-card-back>
      <div class="back-button">
        <a (click)="toggle()"> ◄ Voltar</a>
        <button *ngIf="treino.assignTo === idUsuario" type="button" class="btn btn-primary" (click)="alterar()">Alterar</button>
        <button *ngIf="treino.assignTo === idUsuario" type="button" class="btn btn-danger" (click)="excluir()">Excluir</button>
      </div>
    </div>
  </div>
</div>
