<close-modal></close-modal>
<div mat-dialog-title style="text-align: center;">{{detalheExercicio.nome}}</div>
<div mat-dialog-content>
  <table class="table">
    <tbody>
      <tr>
        <th scope="row">Intensidade</th>
        <td>{{detalheExercicio.intensidade}}</td>
      </tr>
      <tr>
        <th scope="row">Descrição</th>
        <td>{{detalheExercicio.descricao}}</td>
      </tr>
      <tr>
        <th scope="row">Repetições</th>
        <td>{{detalheExercicio.repeticoes}}</td>
      </tr>
      <tr>
        <th scope="row">Séries</th>
        <td>{{detalheExercicio.series}}</td>
      </tr>
    </tbody>
  </table>
  <div class='footer-buttons' *ngIf="detalheExercicio.assignTo === idUsuario">
    <button type="button" class="btn btn-primary" (click)="alterar()">Alterar</button>
    <span style="margin: 10px;"></span>
    <button type="button" class="btn btn-danger" (click)="excluir()">Excluir</button>
  </div>
</div>
